:root{
  --bs-body-font-family: Assistant;
}

body{
  font-family: Assistant;
}

.navbar-wrapper{
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

.small-container{
  max-width: 1100px;
}

.nav-link{
  color: rgba(43 65 89,0.7);;
  font-family: Assistant;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

.nav-link.active{
  color: rgb(43 65 89);;
}

.progresses{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.line{
  flex-grow: 1;
  height: 5px;
  background: #8BA4C0;
}

.steps-container{
  display: none;
}

.steps{
  display: flex;
  color: #2B4159;
  font-size: 14px;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #8BA4C0;
}
.steps.visited {
  color: #ffffff;
  background-color: #60c4d3;
  border: none;
}
.steps.active {
  color: #ffffff;
  background-color: #2B4159;
  border: none;
}

.steps span{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}

.form-container-box {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
  overflow: hidden;
}

.form-text-area{
  background: #2B4159;
  color: #ffffff;
}

.form-text-area h1{
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 33px;
  letter-spacing: -0.03em;

  color: #FFFFFF;
}

.form-text-area p{
  font-family: 'Assistant';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 26px;

color: #FFFFFF;
}

.floating-btn{
  background: #FFFFFF;
  border-radius: 400px;

  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  position: absolute;
  right: 1.5rem;
  bottom: 1rem;

  text-align: center;
  letter-spacing: -0.01em;
  border: none;

  color: #2B4159;
}

.floating-btn:active{
  background-color: #ffffff !important;
  color: #2B4159 !important;
}

.floating-btn i{
  fill: #2B4159;
}

.input-field-custom input,
.input-field-custom select{
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.02em;

  color: #2B4159;

  background: #FDFDFD;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
}

.input-field-custom input:disabled,
.input-field-custom select:disabled{
  color: #D0D0D0;
}

.input-field-custom input:focus,
.input-field-custom select:focus,
.input-field-custom textarea:focus{
  border: 1px solid #2B4159;
  box-shadow: none;
}

.input-field-custom label{
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.04em;
  color: #2B4159;
}

.input-field-name input {
  padding-left: 42px;
}

.input-field-checkbox{
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.02em;

  color: #B9B9B9;
}

.input-field-checkbox__title{
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.04em;
  margin-right: 1rem;
  color: #323232;
}

.field-icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.time-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(66% + 8px);
}

.btn-group {
  background: #FDFDFD;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
  overflow:hidden;
}
.btn.active{
  background: #2B4159;
}

.btn.active:hover{
  background: #2B4159;
  color:#ffffff;
}

.btn:hover{
  background: transparent;
}

.btn-group input[type="radio"]{
  display: none;
}

.btn-group .btn{
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.02em;
  border:0;
  color: #D0D0D0;
}

.btn:hover{
  background: #2B4159 !important;
}

.btn-group .btn.active{
  color:#ffffff;
}

.btn--save{
  background: #2B4159;
  border-radius: 6px;
  margin-right: 2rem;

  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;

  color: #FFFFFF;
}

.btn--add{
  background: #FFFFFF;
  border: 1px solid #2B4159;
  border-radius: 6px;

  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;

  color: #2B4159;
}

.btn--next{
  background: #5CC3D2;
  border-radius: 6px;

  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  border:none;
  color: #FFFFFF;
}

.btn--check{
  background: #FDFDFD;
  border: 1px solid #E0E0E0;
  border-radius: 12px;

  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.02em;

  color: #D0D0D0;
}

.btn--check:disabled{
  color: #B9B9B9;
  background-color: #e9ecef;
  border-color: #E0E0E0;
}

.btn--check.active{
  background: #FDFDFD;
  border: 1px solid #2B4159;

  color: #2B4159;
}

input.active,
select.active{
  background: #FDFDFD;
  border: 1px solid #2B4159;

  color: #2B4159;
}

.input-group>.form-select:focus{
  z-index: 0;
}

.form-check-input:checked[type=checkbox]{
  background-image: none !important;
  background:  #2B4159;
}

.main--card{
  background: #FDFDFD;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
}

.card--title{
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 33px;
  letter-spacing: -0.03em;
  color: #141414;
}

.card--subtitle{
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: -0.04em;

  color: #000000;
}

input.date_picker {
  background-image: url("./images/calander.png");
  background-position: 96% 50%;
  background-repeat: no-repeat;
  padding-right: 18px;
}

.react-datepicker-ingroup .react-datepicker-wrapper{
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  flex-basis: 65%;
  min-width: 0;
}

.react-datepicker-ingroup .date_picker{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-field-custom .form-select.is-invalid:not([multiple]):not([size]){
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

@media (max-width: 767px){
  .form-container-box{
      border: none;
  }
  .form-text-area{
      background: transparent;
  }
  .form-text-area h1{
      color: #141414;
  }

  .form-text-area p{
      color: #141414;
  }
  .floating-btn {
      top: 0px;
      bottom: unset;
      right: 0;
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  }
  .form-container-box{
      overflow: visible;
  }

  .input-field-name label {
      padding-left: 42px;
  }

  .input-field-name input{
      padding-left: .75rem;
  }

  .field-icon{
      top: 0;
      transform: none;
      left: 7px;
  }
}